<!-- This is the Home page which is also for the cargo table -->
<%- include('../template/head')-%>

<body class="container">
    <%- include('../template/nav')-%>
    <header>
        <%- include('../template/header'); %>
    </header>

    <main>
        <!--This is the refresh button for GET Captain-->
        <section>
            <div>
                <h5>
                    GET Captain Information
                </h5>
            </div>
        <button type="button" class="btn btn-primary btn-lg">GET BUTTON FUNCTION</button>
        </section>
        
        <section>
            <br>
            <div>
                <h5>
                    PUT Captain Information
                </h5>
            </div>
            <!--This is POST Captain Inputs-->
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="First Name">First Name</label>
                    <input type="text" class="form-control" id="First Name" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Last Name">Last Name</label>
                    <input type="text" class="form-control" id="Last Name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Rank">Rank</label>
                  <input type="text" class="form-control" id="Rank" placeholder="Rank">
                </div>
                <div class="form-group">
                  <label for="Home Planet">Home Planet</label>
                  <input type="text" class="form-control" id="Home Planet" placeholder="Home Planet">
                </div>
                <div class="form-group">
                  <label for="ID">ID</label>
                  <input type="text" class="form-control" id="ID" placeholder="ID">
                </div>
                <button type="button" class="btn btn-primary btn-lg">PUT BUTTON FUNCTION</button>
              </form>
      </section>

            <section>
              <div>
                <h5>
                    POST Captain Information
                </h5>
              </div>
            <!--This is POST Captain Inputs-->
              <form>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="First Name">First Name</label>
                    <input type="text" class="form-control" id="First Name" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Last Name">Last Name</label>
                    <input type="text" class="form-control" id="Last Name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Rank">Rank</label>
                  <input type="text" class="form-control" id="Rank" placeholder="Rank">
                </div>
                <div class="form-group">
                  <label for="Home Planet">Home Planet</label>
                  <input type="text" class="form-control" id="Home Planet" placeholder="Home Planet">
                </div>
                <button type="button" class="btn btn-primary btn-lg">POST BUTTON FUNCTION</button>
              </form>
            </section>
            


            <!-- This is the Delete for Captain by ID -->
          <section>
            <div>
                <h5>
                    DELETE Captain Information
                </h5>
            </div>
            <form>
              <div class="form-group">
                <label for="DELETE">DELETE BY ID</label>
                <input type="text" class="form-control" id="DELETE" placeholder="DELETE BY ID">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Are you certain?</label>
              </div>
              <button type="submit" class="btn btn-primary">DELETE BUTTON FUNCTION</button>
            </form>
        </section>
        
</body>
<%- include('../template/footer'); %>
<script>
    window.onload = function() {
        document.getElementById('captain').classList.add('active');
      };
</script>
</html>
